*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: #313030;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e0e0e0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14pt;
}
.parag{
    margin: 0 30px;
    color: #e0e0e0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14pt;
    text-decoration: none;
}
.parag:hover{
    background-color: #ff3f40;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1{
    display: flex;
    padding: 110px 20px 0px 20px;
    height: 430px;
    background-color: #f5f1f1;
    justify-content: space-around;
}
.organization{
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    font-size: 70px;
    display: block;
}
.about_us{
    margin-top: 100px;
    flex: 4;
}
.iconcol1{
    flex: 3;
    margin-top: 100px;
}
.iconcol2{
    flex: 3;
    margin-top: 100px;
}
.about_foals{
    margin: 20px 20px 20px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    text-align: justify;
}
.listen{
    width: 225px;
    height: 55px;
    color: #fff;
    background-color: #ff2d2d;
    border: none;
    border-radius: 6px;
    display: block;
    margin: 20px auto;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}
.listen:hover{
    width: 225px;
    height: 55px;
    color:  #ff2d2d;
    background-color: #64c52a;
    border: none;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}
.foalsimage{
    width: 551px;
    height: 320px;
    padding-right: 0%;
}
#section6{
    display: flex;
    padding: 20px 20px 0px 20px;
    height: 470px;
    background-color: #fff;
    justify-content: space-around;
    background: url(../img/foalsbackgroundprovide.jpg) no-repeat;
}
.organization_provide{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30pt;
    color: #fff;
}
.provide{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 25px;
    color: #fff;
}
.icons{
    margin: 10px 0px;
}
.contact_us{
    width: 225px;
    height: 55px;
    color: #ff2d2d;
    background-color: #fff; 
    border: none;
    border-radius: 6px;
    margin-top: 80px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}
.contact_us:hover{
    width: 225px;
    height: 55px;
    color: #fff;
    background-color: #ff2d2d;
    border: none;
    border-radius: 6px;
    margin-top: 80px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}
#section2{
    display: flex;
    background-color: #eeeaea;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50pt;
}
.section3{
    display: flex;
    padding: 20px 20px 0px 20px;
    height: 700px;
    background-color: #ffffff;
    align-items: center;
    flex-direction: column;
    background: url(../img/foalsbackground.jpg);
}
.cover{
    padding: 10px 25px;
}
#section4{
    display: flex;
    background-color: #eeeaea;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 50pt;
}
.section5{
    display: flex;
    padding: 20px 5px 0px 5px;
    height: 530px;
    background-color: #ffffff;
    justify-content: space-around;
}
.band{
    padding: 10px 5px;
}
.info{
    margin-bottom: 10px;
    padding: 10px 5px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
}
.section7{
    display: flex;
    padding: 20px 5px 5px 5px;
    height: 160px;
    background-color: #f5f0dd;
    flex-direction: column;
    align-items: center;
}
.ordernow{
    width: 520px;
    height: 80px;
    margin-right: 10px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16pt;
    border: none;
    border-radius: 5px;
}
.ordernowbutton{
    display: inline-block;
    height: 80px;
    width: 215px;
    margin-left: 10px;
    color: #fff;
    background-color: #ff2d2d;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    vertical-align: bottom;
}
.ordernowbutton:hover{
    display: inline-block;
    height: 80px;
    width: 215px;
    margin-left: 10px;
    color: #ff2d2d;
    background-color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    vertical-align: bottom;
}
.section8{
    display: flex;
    padding: 20px 100px 5px 5px;
    padding-left: 10px;
    height: 230px;
    background-color: #f5f0dd;
    flex-direction: column;
    align-items: flex-end;
}
.get{
    width: 600px;
}
.getin{
    margin: 10px 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
.getintext{
    margin: 0px 20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    text-align: justify;
}
hr{
    border: none;
    background-color: #ff2d2d;
    height: 3px;
    width: 560px;
    margin: 0px 20px;
}
#section9{
    display: flex;
    padding: 20px 5px 5px 5px;
    padding-left: 10px;
    height: 500px;
    background-color: #dccbcb;
    justify-content: space-between;
}
.callback{
    flex:7;
    padding-left: 30px;
}
.adress{
    flex:5;
    height: 430px;
    margin-top: 10px;
    background: #2d2d2d;
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    margin-right: 20px;
}
.adresstext{
    padding: 100px 0px 0px 20px;
}
.namemail{
    display: flex;
    justify-content: flex-start;
    color: #e0e0e0;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14pt;
}
.entername{
    width: 340px;
    height: 70px;
    margin: 10px 25px 10px 0px;
    background: #e5e5e5;
    border: none;
    border-radius: 8px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    padding-left: 30px;
}
.entermail{
    width: 340px;
    height: 70px;
    margin: 10px 0px 10px 25px;
    background: #e5e5e5;
    border: none;
    border-radius: 8px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    padding-left: 30px;
}
.entermessage{
    width: 760px;
    height: 250px;
    margin: 10px 0px;
    background: #e5e5e5;
    border: none;
    border-radius: 8px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    padding-left: 30px;
}
.enterbutton{
    width: 790px;
    height: 70px;
    margin: 10px 0px;
    border: none;
    background: #ff3b3b;
    border-radius: 8px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    color: #fff;
}
.enterbutton:hover{
    width: 790px;
    height: 70px;
    margin: 10px 0px;
    border: none;
    background: #fff;
    border-radius: 8px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 20px;
    color:  #ff3b3b;
}